@import '../../style/variables';
@import '../../style/mixins';

.container {
    @include flexDirection(row);
    justify-content: space-between;
    padding-bottom: 40px;
}
.sortContainer {
    display: none;
}

@media (max-width: 1600px) {
    .container {
        padding: 0 20px;
    }
}

@media (max-width: 1286px) {
    .container {
        margin-top: 20px;
        padding: 0 20px;
    }
}

@media (max-width: 992px) {
    .container {
        @include flexDirection(column);
        margin-top: 20px;
        padding: 0px;
    }
    .sortContainer {
        display: block;
        @include flexDirection(row);
        justify-content: space-between;
        padding: 0 20px;
    }
    .sortBtn {
        @include flexCenter;
        justify-content: space-between;
        min-width: 160px;
        height: 40px;
        background: #ffffff;
        border: 1px solid #e5e5ed;
        border-radius: 10px;
        font-family: $TKT-Regular;
        font-size: 14px;
        color: $grey;
        padding: 0 14px;
    }
}

@media (max-width: 768px) {
}
@media (max-width: 375) {
}
